@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
margin : 0;
padding :0;
box-sizing: border-box;
scroll-behavior : smooth;
}

header {
background-color: #f0f0f0;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px ;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
text-decoration: none;
 color: #3a6cf4;
 font-size: 1.1em;
font-size: 500;
padding-left: 30px;
}

.navigation a:hover{
color :palevioletred;
}

section {
 padding: 100px 200px;

}

.main{
width : 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(Images/SFAF.png) no-repeat;
background-size: cover;
background-position: right;
background-attachment: fixed;
background-size: 770px;
background-color: rgb(10, 0, 39);

}

.main h2{
color: #f0f0f0;
font-size: 1.4em;
font-weight: 500;
}

.main h2 span{
color:rgb(42, 42, 255);
display : inline-block;
margin-top: 4px;
font-size: 3em;
font-weight: 600;
}

.main h3{
color : white;
font-size: 1.3em;
font-weight: 700;
margin-top: 10px;
margin-bottom: 30px;
}

.main-btn {
color: #f0f0f0;
background-color: #3a6cf4;
text-decoration: none;
font-size: 1.3em;
font-weight: 600;
display: inline-block;
justify-content: center;
padding: 0.9735em 2.187em;
letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 10px;
transition: 0.5s ease;
}

.main-btn:hover{
background-color: #153079;
transform: scale(1.1);
}

.social-icons a{
color: white;
font-size: 1.5em;
padding-right: 16px;
}


.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.9em;
    font-weight: 800;
    margin-bottom: 30px;
    }
    
.content {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.card {
background-color: #fff ;
width: 18.25em;
box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
border-radius: 10px;
padding: 20px;
margin: 10px;
transition: 0.7s ease;

}

.card:hover{
transform: scale(1.1);

}

.icon{
color :rgb(69, 69, 225);
font-size: 8em;
text-align: center;

}


.info {
text-align: center;
}
.info h3{
color :rgb(69, 69, 225);
font-size: 1.2em;
font-weight: 700;
margin: 10px;
justify-content: center;
}

.Videos{
background-color: #000a23;
}

.Videos .content{
margin-top: 30px;
}

.video-card{
background-color: #fff;
border: 3px solid #fff;
min-height: 14em;
width: 19em;
overflow: hidden;
border-radius: 10px;
margin: 6px;
transition: 0.5s ease;
box-shadow: #000000;
}

.video-card:hover{
transform: scale(1.1);
}

.video-image img{
width:100%;
}

.video-card .video-image:hover{
    opacity: 0.9;
    }

    .video-info {
    padding :1em;
    }

    .video-title {

        font-size: 1.1em;
        color: #000000;
        font-weight: 700;
display: flex;
justify-content: right;
    }

    .video-det{
display: flex;
justify-content: space-between;
text-transform: uppercase;
font-weight: 500;
margin-top: 10px;
    }

    .more-details{
text-decoration: none;
        color:#3a6cf4
    }

    .more-details:hover{
color:#000a23;

    }

    .more-detailss  {
        color: #3300ff;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 300;
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 1px;
        transition: 0.5s ease;
        scroll-behavior: smooth;
    }


  .imagess img{
    border-radius: 15px;
    margin-bottom: 1px;
    transition: 0.5s ease;
    padding: 10px 10px;
    font-size: 1.9em;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    margin: 20px;
}

  .imagess img:hover{
transform: scale(1.1);
opacity: 0.9;
  }

  .title h3 span{
    font-size: 300;
    color: aqua;
  }

  .title1 {
    display: flex;
    justify-content: center;
    color: #0044ff;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;

  }
  .more-detailss1  {
    color: #3300ff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 1px;
    transition: 0.5s ease;
    scroll-behavior: smooth;
}

.images1 {
    display: flex;
    justify-content: center;
    color: #2655d6;
    
}

.tss1 {

    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;

}

.title3 {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.9em;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.5s ease;
    }

.title3:hover {
transform: scale(1.1);
opacity: 0.90;
}

.news{
background-color: #000a23;

}

.Gifts {
background-color: gold;

}
.images2 {
    display: flex;
    justify-content: center;
    color: #2655d6;
    transition: 0.5s ease;
    
}

.images2:hover {
opacity: 0.90;
transform: scale(1.1);
    
}

.footer{
background-color: #000a23;
color: #f0f0f0;
padding: 2em;
display: flex;
justify-content: space-between;
}

.footer-title{

    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
color: #0044ff;
}

@media (max-width:1023px){
    
header{

    padding: 12px 20px;
}
.main{
    width : 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Images/SFAF.png) no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-size: 550px;
    background-color: rgb(10, 0, 39);
    
    }
    
 .navigation{
padding-left: 10px;

 }
.title{

    font-size: 1.8em;
}
section {

    padding: 80px 20px;
}

.main-content h2 {
    font-size: 1em;
    
    }
    .main-content h3 {
        font-size: 1.6em;
        
        }

        .content {
            flex-direction: column;
            align-items: center;
        }
        .images1{
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            width: 100%;

        }
        .images2 {
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            width: 100%;

        }
        

}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main{
        width : 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(Images/SFAF.png) no-repeat;
        background-size: cover;
        background-position: left;
        background-attachment: fixed;
        background-size: 550px;
        background-color: rgb(10, 0, 39);
    }    
    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
    .images1{
        height: 60px;
        width: 60px;
        display: flex;
            justify-content: center;
            width: 100%;

    }
    .images2 {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;        margin-right: 30px;
        width: 100%;


    }
    
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
    .images1{
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .main{
        width : 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(Images/SFAF.png) no-repeat;
        background-size: cover;
        background-position: left;
        background-attachment: fixed;
        background-size: 550px;
        background-color: rgb(10, 0, 39);
    }
    .images2 {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
}